<div class="container mt-5">
  <h1>Restaurant Test</h1>
  <p>A fake review website</p>
  <p>Now is <%= Time.now %> </p>
</div>


<% dinner = [ 'stephen', 'mesh', 'orna', 'dave', 'morgane', 'eleanor'] %>

<h2>Casa Tonight</h2>
<ol>
  <%= dinner.each do |p| %>
  <li> <%= p.capitalize %> </li>
  <% end %>
</ol>
